/*Play Button*/
#play 			{	width: 220px;
					height: 160px;
					background-color: #4aaaa5;
					opacity: 0.75;
					text-align: center;
					font-size: 44px;
					padding: 20px;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -70px 0 0 -170px;
					}

/*Main background of game*/
#main			{	width: 70%;
					height: 72%;
					background-color: blue;
					position: absolute;
					top: 25%;
					left: 25%;
					margin: -70px 0 0 -170px;
					}

#question 		{	font-size: 36px;}

/*Display boxes*/
.display		{	width: 100%;
					height: 50px;
					font-size: 24px;
					font-family: sans-serif;
					line-height: 1.5;
					text-align: center;
					margin-top: 20px;
					}

/*Hint Display Box*/
#hint-display, #question, #hint	{	background-color: #ffffff;
					width: 80%;
					margin-left: 10%;
					margin-right: 10%;
					padding-top: 10px;}

/*Produce Images*/
#image			{	height: 200px;}

img 			{	height: 200px;
					width: 260px;}

/*Answer Options Display*/
button 			{	height: 30px;
					width: 50px;
					font-size: 18px;}

button:hover 	{	border-width: 4px;
					border-color: orange;}