/*Play Button*/
#play 			{	width: 320px;
					height: 110px;
					background-color: #ffffff;
					opacity: 0.75;
					text-align: center;
					font-size: 44px;
					padding: 20px;
					position: absolute;
					top: 70%;
					left: 50%;
					margin: -70px 0 0 -170px;
					}

h1 				{ 	font-color: #00F1FF; }

/*Main background of game*/
#main			{	width: 70%;
					height: 90%;
					background-color: blue;
					border-style: solid;
					border-width: 8px;
					border-color: orange;
					position: absolute;
					top: 15%;
					left: 25%;
					margin: -70px 0 0 -170px;
					}

#question 		{	font-size: 36px;}


/*background of application*/
body 			{	background-image: url("../images/aldi-store.jpg");
					background-size: 1380px 800px;
					background-repeat: no-repeat;}

/*Display boxes*/
.display		{	width: 100%;
					height: 50px;
					font-size: 24px;
					font-family: sans-serif;
					line-height: 1.5;
					text-align: center;
					margin-top: 20px;
					}

/*Hint Display Box*/
#hint-display, #question, #hint, #timer	{	background-color: #ffffff;
					width: 80%;
					margin-left: 10%;
					margin-right: 10%;
					padding-top: 10px;}

/*Produce Images*/
#image			{	height: 200px;}

img 			{	height: 200px;
					width: 260px;}

/*Answer Options Display*/
button 			{	height: 30px;
					width: 50px;
					font-size: 18px;}

button:hover 	{	border-width: 5px;
					border-color: orange;}

#grade			{	font-size: 60px; }

/*Reset Button*/
a 				{	height: 100px;
					width: 160px; }

#finalButton 	{	height: 60px;
					width: 100px;
					font-size: 22px;}

#reset 			{ 	width: 50%; }



/*Media Query for handheld screens*/
@media screen and (max-width: 640px) {
#main			{	top: 15%;
					left: 10%;
					margin: 0;}

#hint-display 	{ 	font-size: 14px; }
#timer 			{ 	font-size: 18px; }
#result			{	font-size: 18px; }